{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Account inactive{% endblock %}

{% block content %}

    <!-- Content -->

    <div class="container-xxl my-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
<h1>{% trans "Account Inactive" %}</h1>

<p class="my-5">{% trans "This account is inactive." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
