{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load socialaccount %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Brandoteca | Login{% endblock %}

{% block content %}

    <div class="container my-5">
      <div class="container-p-y">


          <div class="row justify-content-center">

            <div class="col-lg-5 mt-5">
                <p class="text-center"><span>New on our platform?</span>
                <a href="{% url 'account_signup' %}" class="bolder"><br>Sign up</a>
                <a class="btn-block btn-outline" href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png">Sign in with <strong>Google</strong></a>
                </p>

                <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="new-button d-grid mt-3 shadow" type="submit">{% trans "Sign In" %}</button>
                </form>

            </div>
          </div>




            </div>
        </div>


{% endblock %}