{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% block head_title %}Brandoteca | Password reset{% endblock %}


{% block preloader %}
{% endblock preloader %}


{% block content %}
<div class="container my-5" style="position: relative; top: 50px">
        <div class="row justify-content-center">
            <div class="col-lg-6 my-5">

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="new-button my-3" name="action" value="{% trans 'change password' %}">Change password</button>
        </form>
    {% endif %}
            </div>
        </div>
</div>

{% endblock %}
