{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Password set{% endblock %}

{% block content %}
    <div class="container-xxl my-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="new-button" name="action" value="{% trans 'Set Password' %}">Password</button>
    </form>
            </div>
        </div>
    </div>

{% endblock %}
