{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% block head_title %}Brandoteca | Password reset{% endblock %}


{% block preloader %}
{% endblock preloader %}


{% block content %}
<div class="container my-5" style="position: relative; top: 50px">
        <div class="row justify-content-center">
            <div class="col-lg-6 my-5">

    <h1>{% trans "Change Password" %}</h1>
    <p class="my-5">{% trans 'Your password is now changed.' %}</p>

            </div>
        </div>
</div>

{% endblock %}
