{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load socialaccount %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Creeaza brand{% endblock %}

{% block content %}

    <div class="container my-5">
          <div class="row my-5 p-1">
              <h5 class="bolder">Adaugare brand</h5>
              <div class="col-lg-7 text-danger" style="color: white">
                  <p><strong><i class="bi bi-exclamation-circle bold"></i> IMPORTANT:</strong> Pentru a putea fi listat în Brandoteca, brandul trebuie să aibă cel puțin o persoană de naționalitate română în echipa inițială care a creat brandul respectiv (asociați).</p>
              </div>
          </div>
        <div class="row my-5 p-1">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="row rounded shadow py-3">
                      <h5 class="rounded bg-secondary"><strong>1.</strong> Informatii generale</h5>

                      <div class="col-lg-4">
                          {{ form.name|as_crispy_field }}
                      </div>

                      <div class="col-lg-4">
                          {{ form.type|as_crispy_field }}
                      </div>

                      <div class="col-lg-4">
                          {{ form.founding_year|as_crispy_field }}
                      </div>

                      <div class="col-lg-12 mt-2">
                          {{ form.motto|as_crispy_field}}
                      </div>

                      <div class="col-lg-6">
                          {{ form.main_category|as_crispy_field }}
                      </div>
                      <div class="col-lg-6" style="height:200px; overflow-y: scroll">
                          {{ form.categories|as_crispy_field }}
                      </div>
                      <div class="col-lg-12 mt-5 text-center">
                          <p>Descriere brand</p>
                          {{ form.media }}
                          {{ form.description|as_crispy_field }}
                      </div>
                  </div>
                  <div class="row rounded shadow py-3 my-3">
                      <h5 class="rounded bg-secondary"><strong>2.</strong> Date de contact</h5>
                      <div class="col-lg-6">
                          {{ form.entity|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.vat_number|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.reg_no|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.euid|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.address|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.city|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.country|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.email|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.phone|as_crispy_field }}
                      </div>
                  </div>
                  <div class="row rounded shadow py-3">
                      <h5 class="rounded bg-secondary"><strong>3.</strong> Prezenta online</h5>
                      <div class="col-lg-4">
                          {{ form.website|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.video_url|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.facebook|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.instagram|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.youtube|as_crispy_field }}
                      </div>
                      <div class="col-lg-4">
                          {{ form.linkedin|as_crispy_field }}
                      </div>
                  </div>
                  <div class="row rounded shadow py-3">
                      <h5 class="rounded bg-secondary"><strong>4.</strong> Imagini</h5>
                      <div class="col-lg-6">
                          {{ form.logo|as_crispy_field }}
                      </div>
                      <div class="col-lg-6">
                          {{ form.cover|as_crispy_field }}
                      </div>
                  </div>

                  <button type="submit" class="new-button my-3" value="Submit">Adauga brand</button>
              </form>


        </div>
    </div>


{% endblock %}
