{% extends 'base.html' %}

{% block content %}


			<section class="page_slider main_slider">
				<div class="flexslider" data-nav="false" data-dots="false">
					<ul class="slides">
						<li class="ds text-center slide1">
							<span class="flexslider-overlay"></span>
							<span class="embed-responsive embed-responsive-16by9">
								<iframe src="https://www.youtube.com/embed/UBufeh1yv2c?feature=oembed&amp;showinfo=0&amp;autoplay=1&amp;controls=0&amp;mute=1&amp;loop=1&amp;playlist=UBufeh1yv2c" allowfullscreen=""></iframe>
							</span>
							<div class="container">
								<div class="row">
									<div class="col-12 itro_slider">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">
												<div class="intro_layer" data-animation="fadeIn">
													<p class="text-warning" style="font-size: 20px">Un univers de branduri la un click distanta</p>
												</div>

												<div class="intro_layer" data-animation="slideRight">
													<h4 class="text-uppercase bolder my-3" style="font-weight: 700; color: #fdeeee">
														Brandoteca
													</h4>
												</div>
												<div class="intro_layer bolder" data-animation="fadeIn">
													<p>
														<span class="color-main2">Sprijin</span>,
														<span class="color-main3">Educatie</span>
														<span class="color-main4">Incredere</span> &
                                                        <span class="color-main1">Conectare</span>
													</p>
												</div>
												<div class="intro_layer page-bottom" data-animation="expandUp">
													<a class="btn btn-maincolor" href="">Get Started</a>
												</div>
											</div>
											<!-- eof .intro_layers -->
										</div>
										<!-- eof .intro_layers_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
				<div class="flexslider-bottom d-none d-xl-block">
					<a href="#about" class="mouse-button animated floating"></a>
				</div>
			</section>
			<div class="divider-10 d-block d-sm-none"></div>
			<section class="s-pt-30 s-pt-lg-50 s-pt-xl-25 ls about-home" id="about">
				<div class="divider-5 d-none d-xl-block"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<div class="main-content text-center">
								<div class="img-wrap text-center">
									<img src="/static/img/vertical_line.png" alt="">
									<div class="divider-35"></div>
								</div>
								<h5>
									Dedicați brandurilor românești
								</h5>
								<p>
                                      IMM-urile sunt cele care asigură creșterea economică organică. În lipsa vizibilității, multe startup-uri și branduri românești sunt condamnate la dispariție.
                                    <strong><br><br>Brandoteca – Biblioteca Brandurilor Românești<br></strong>te ajută să spui povestea brandului tău. Alege să fii un Brand, nu doar un SRL.<br><strong class="text-danger">Listează-ți brandul GRATUIT</strong> și bucură-te de publicitate națională & internațională!
								</p>
								<div class="divider-30"></div>
								<div class="img-wrap text-center">
									<img src="/static/img/vertical_line.png" alt="">
								</div>
								<div>
									<div class="divider-40"></div>
									<button type="button" class="btn btn-outline-maincolor">Get Started</button>
									<div class="divider-40"></div>
								</div>
								<div class="img-wrap text-center">
									<img src="/static/img/vertical_line.png" alt="">
								</div>
								<div class="divider-10 d-none d-xl-block"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="divider-10 d-block d-sm-none"></div>
			</section>

			<section class="s-pt-30 s-pb-3 service-item2 ls animate" id="services" data-animation="fadeInUp">
				<div class="container">
					<div class="row c-mb-50 c-mb-md-60">
						<div class="d-none d-lg-block divider-20"></div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="vertical-item text-center">
								<div class="item-media">
									<img src="/static/images/service/service_icon_1-1.png" alt="">
								</div>
								<div class="item-content">
									<h6>
										<a href="">Sprijin</a>
									</h6>

									<p>
										Sprijinim toate brandurile românești, indiferent de nivelul lor!
									</p>

								</div>
							</div>
						</div>
						<!-- .col-* -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="vertical-item text-center">
								<div class="item-media">
									<img src="/static/images/service/service_icon_2-1.png" alt="">
								</div>
								<div class="item-content">
									<h6>
										<a href="">Conectare</a>
									</h6>

									<p>
										Te conectăm la o rețea de antreprenori, freelanceri, ONG-iști și reprezentanți ai mediului de afaceri!
									</p>

								</div>
							</div>
						</div>
						<!-- .col-* -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="vertical-item text-center">
								<div class="item-media">
									<img src="/static/images/service/service_icon_3-1.png" alt="">
								</div>
								<div class="item-content">
									<h6>
										<a href="">Incredere</a>
									</h6>

									<p>
										Oferim încredere și autoritate brandului tău.
									</p>
								</div>
							</div>
						</div>
						<!-- .col-* -->
						<div class="col-12 col-md-6 col-lg-3">
							<div class="vertical-item text-center">
								<div class="item-media">
									<img src="/static/images/service/service_icon_4-1.png" alt="">
								</div>
								<div class="item-content">
									<h6>
										<a href="">Educatie</a>
									</h6>

									<p>
										 Te învățăm noi modalități prin care să iți faci compania cunoscută la nivel național și internațional.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="pink-line text-center">
						<img src="/static/img/pink_line_big.png" alt="">
					</div>
				</div>
			</section>

			<section class="s-pt-100 s-pt-lg-130 ds process-part skew_right s-parallax top_white_line_big overflow-visible" id="steps">
				<div class="container">
					<div class="divider-65"></div>
					<div class="row align-items-center c-mb-20 c-mb-lg-60">
						<div class="col-12 col-lg-4">
							<div class="step-left-part text-right">
								<h2 class="step-title">
									<span class="color-main">01</span>Articole</h2>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-center-part text-center">
								<img src="/static/images/step1.png" alt="">
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-right-part">
								<p class="step-text" style="color: lightblue">Brandoteca este o solutie excelenta pentru brandurile care doresc sa-si promoveze produsele si serviciile prin intermediul articolelor informative si bine scrise. Platforma ofera acces la o audienta vasta si diversa, iar promovarea prin intermediul acesteia poate duce la crearea unui impact puternic in lumea digitala.</p>
							</div>
						</div>
					</div>

					<div class="row align-items-center right c-mb-20 c-mb-lg-60">
						<div class="col-12 col-lg-4  order-lg-3">
							<div class="step-left-part">
								<h2 class="step-title color1">
									<span class="color-main2">02</span>Promotii</h2>
							</div>
						</div>
						<div class="col-12 col-lg-4 order-lg-2">
							<div class="step-center-part text-center">
								<img src="/static/images/step2.jpg" alt="">
							</div>
						</div>
						<div class="col-12 col-lg-4 order-lg-1 text-right">
							<div class="step-right-part ">
								<p class="step-text" style="color: lightblue">Oferim o varietate de instrumente si resurse pentru a ajuta brandurile sa-si optimizeze campaniile de marketing, sa-si targeteze audienta si sa-si creasca vizibilitatea online. Prin intermediul acestei platforme, brandurile pot ajunge la o audienta vasta si diversa, putand sa-si transforme promotiile in succese majore de vanzari.</p>
							</div>
						</div>
					</div>

					<div class="row align-items-center c-mb-20 c-mb-lg-60">
						<div class="col-12 col-lg-4">
							<div class="step-left-part text-right part3">
								<h2 class="step-title">
									<span class="color-main3">03</span>Noutati</h2>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-center-part text-center">
								<img src="/static/images/step3.jpg" alt="">
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-right-part">
								<p class="step-text" style="color: lightblue">Brandoteca este o platforma online care ajuta brandurile sa-si promoveze noutatile in mediul online. Prin intermediul acestei platforme, brandurile pot sa-si anunte noile produse sau servicii, lansarile sau alte evenimente importante, ajungand astfel la o audienta vasta si diversa.</p>
							</div>
						</div>
					</div>

					<div class="row align-items-center right c-mb-20 c-mb-lg-60">
						<div class="col-12 col-lg-4  order-lg-3">
							<div class="step-left-part part4">
								<h2 class="step-title color1">
									<span class="color-main4">04</span>Concursuri</h2>
							</div>
						</div>
						<div class="col-12 col-lg-4 order-lg-2">
							<div class="step-center-part text-center last">
								<img src="/static/images/step4.webp" alt="">
							</div>
						</div>
						<div class="col-12 col-lg-4 order-lg-1 text-right">
							<div class="step-right-part ">
								<p class="step-text" style="color: lightblue">Brandoteca este o platforma online care ajuta brandurile sa-si creeze si sa-si promoveze concursurile pe internet. Oferim suport si consultanta in crearea si implementarea concursurilor, astfel incat brandurile sa-si atinga obiectivele de marketing si sa-si creasca implicarea si fidelitatea publicului tinta.</p>
							</div>
						</div>
					</div>

                    <div class="row align-items-center c-mb-20 c-mb-lg-60">
						<div class="col-12 col-lg-4">
							<div class="step-left-part text-right part3">
								<h2 class="step-title">
									<span class="color-main3">05</span>Blog</h2>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-center-part text-center">
								<img src="/static/images/step5.png" alt="">
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="step-right-part">
								<p class="step-text" style="color: lightblue">Pe blogul Brandoteca, brandurile pot crea si publica articole despre produsele si serviciile lor, despre tendintele si noutatile din industria lor sau despre subiecte de interes pentru publicul lor tinta. Aceste articole sunt promovate prin intermediul retelelor sociale si prin intermediul altor canale de marketing online, astfel incat sa ajunga la cat mai multi cititori si sa sporeasca vizibilitatea brandului.

</p>
							</div>
						</div>
					</div>

					<div class="divider-10 d-block d-sm-none"></div>
					<div class="img-wrap text-center">
						<img src="/static/img/vertical_line2.png" alt="">
					</div>
					<div class=" white-button text-center">
						<a class="btn white-btn" href="#">Get Started</a>
					</div>
					<div class="divider-30 d-none d-xl-block"></div>
				</div>
			</section>

			<section class="s-pt-75 s-pt-xl-50 gallery-carousel main-gallery container-px-0" id="gallery">
				<div class="container-fluid">
					<div class="img-wrap text-center">
						<img src="/static/img/vertical_line.png" alt="">
						<div class="divider-40 d-block d-sm-none"></div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row justify-content-center">
								<div class="col-md-10 col-xl-5">
									<div class="filters gallery-filters small-text text-lg-right">
										<a href="#" data-filter="*" class="active selected">All</a>
										<a href="#" data-filter=".web-design">Web Design</a>
										<a href="#" data-filter=".logo-design">Logo Design</a>
										<a href="#" data-filter=".advertisement">Advertisement</a>
										<a href="#" data-filter=".branding">Branding</a>
										<a href="#" data-filter=".design">Design</a>
										<a href="#" data-filter=".photo">Photo</a>
									</div>
								</div>
							</div>
							<div class="owl-carousel gallery-owl-nav" data-autoplay="false" data-responsive-lg="5" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="2" data-nav="true" data-dots="false" data-filters=".gallery-filters" data-margin="0" data-loop="true">
								<div class="vertical-item item-gallery content-absolute text-center ds web-design">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-1.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">web-design</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
								<div class="vertical-item item-gallery content-absolute text-center ds logo-design">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-2.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">logo-design</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
								<div class="vertical-item item-gallery content-absolute text-center ds advertisement">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-3.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">advertisement</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
								<div class="vertical-item item-gallery content-absolute text-center ds branding">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-4.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">branding</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
								<div class="vertical-item item-gallery content-absolute text-center ds design">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-5.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">design</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
								<div class="vertical-item item-gallery content-absolute text-center ds photo">
									<div class="item-media m-2" style="border-radius: 25px">
										<img src="/static/images/gallery/gallery-6.jpg" alt="">
										<div class="media-links">

										</div>
									</div>
									<div class="item-content">
										<h6>
											<a class="small-text" href="">photo</a>
										</h6>
										<h6>
											<a href="">Clothes Badge Design</a>
										</h6>
									</div>
								</div>
							</div>
							<!-- .owl-carousel-->
						</div>
					</div>
				</div>
			</section>

			<section class="page_slider team_slider my-5" id="team">
				<div class="container-fluid">
					<div class="row">
						<div class="shortcode-team-slider main-team">
							<h3 class="slider-title">Team</h3>
							<div class="flexslider team-slider" data-nav="false" data-dots="true">
								<ul class="slides">
									<li class="ls">
										<img src="/static/images/team/razj.webp" alt="">
									</li>
									<li class="ls">
										<img src="/static/images/team/team_slide_02.jpg" alt="">
									</li>
									<li class="ls">
										<img src="/static/images/team/team_slide_03.jpg" alt="">
									</li>
									<li class="ls">
										<img src="/static/images/team/team_slide_04.jpg" alt="">
									</li>
								</ul>
							</div>
							<!-- eof flexslider -->
							<div class="flexslider-controls">
								<ul class="flex-control-nav-1">
									<li class="menu_item flex-active">
										Razvan Jianu
										<span class="position">CEO</span>
										<span class="team-social-icons">
											<span class="social-icons">
												<a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
												<a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
												<a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
											</span>
										</span>
									</li>
									<li class="menu_item">
										Letha L. Young
										<span class="position">Designer</span>
										<span class="team-social-icons">
											<span class="social-icons">
												<a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
												<a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
												<a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
											</span>
										</span>
									</li>
									<li class="menu_item">
										Harold D. Cote
										<span class="position">Developer</span>
										<span class="team-social-icons">
											<span class="social-icons">
												<a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
												<a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
												<a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
											</span>
										</span>
									</li>
									<li class="menu_item">
										Oren R. Odom
										<span class="position">Marketer</span>
										<span class="team-social-icons">
											<span class="social-icons">
												<a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
												<a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
												<a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
											</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls ms book-item s-pb-30 s-pb-lg-25">
				<div class="corner corner-light"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<div class="text-block text-center">
								<div class="btn-book-section overflow-visible">
									<a href="#" class="btn btn-maincolor">Get Started</a>
								</div>
								<div class="img-wrap text-center">
									<img src="/static/img/vertical_line.png" alt="">
									<div class="divider-35"></div>
								</div>
								<h5>
									B2B Marketing & Web Design
									<br> Resources
								</h5>
								<p>
									B2B client acquisition is not the same as B2C– a B2B website, brand messaging and content marketing play a much different role. We understand the B2B marketing and sales funnel and the tactics that generate and nurture ideal client leads.
								</p>
								<div class="divider-30"></div>
								<div class="img-wrap text-center">
									<img src="/static/img/vertical_line.png" alt="">
								</div>
							</div>
						</div>
						<div class="divider-40"></div>
						<div class="row c-gutter-30 c-mb-30 c-mb-lg-0 text-center book">
							<div class="col-12 col-lg-4">
								<div class="stage book-1 ls" style="border-radius: 25px">
									<img src="/static/images/book-1.png" alt="#">
									<div class="info">
										<header>
											<h6>
												<a href="#">Annual Report
													<br>2017-2018</a>
											</h6>
										</header>
										<p>
											At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
										</p>
										<p class="small-text link-a">
											<a href="#">Buy It Now!</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="stage book-2 ds" style="border-radius: 25px">
									<img src="/static/images/book-2.png" alt="#">
									<div class="info">
										<header>
											<h6>
												<a href="#">Tools of Trading: Modern Marketing</a>
											</h6>
										</header>
										<p>
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam numy eirmod.
										</p>
										<p class="small-text link-a">
											<a href="#">Buy It Now!</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="stage book-3 ls" style="border-radius: 25px">
									<img src="/static/images/book-3.png" alt="#">
									<div class="info">
										<header>
											<h6>
												<a href="#">Business Magazine: Design</a>
											</h6>
										</header>
										<p>
											Et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
										</p>
										<p class="small-text link-a">
											<a href="#">Buy It Now!</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="divider-30"></div>
						<div class="text-center img-wrap col-md-12">
							<div>
								<img src="/static/img/vertical_line.png" alt="">
							</div>
							<div class="divider-40"></div>
							<a href="#" class="btn btn-outline-maincolor">Get Started</a>
							<div class="divider-40"></div>
							<div>
								<img src="/static/img/vertical_line.png" alt="">
							</div>
						</div>
					</div>
					<div class="divider-10"></div>
				</div>
			</section>

			<section class="ls ms blog-post-carousel">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="owl-carousel" data-responsive-lg="4" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="1" data-nav="false" data-dots="false" data-loop="true" data-margin="4">
								<article class="box text-center" style="border-radius: 25px">
									<div class="item-content">
										<p class="small-text">
											<a href="#">December 29, 2017</a>
										</p>
										<h6>
											<a href="#">Traffic control test by New York Cabs program</a>
										</h6>
										<div class="post-author">
											<img src="/static/images/small_author.png" alt="">
											<p>
												<a href="#">by Admin</a>
											</p>
										</div>
									</div>
									<!-- .item-content -->
								</article>
								<!-- #post-## -->
								<article class="box text-center" style="border-radius: 25px">
									<div class="item-content ">
										<p class="small-text">
											<a href="#">December 26, 2017</a>
										</p>
										<h6>
											<a href="#">Live support, key of an endless satisfaction</a>
										</h6>
										<div class="post-author">
											<img src="/static/images/small_author.png" alt="">
											<p>
												<a href="#">by Admin</a>
											</p>
										</div>
									</div>
									<!-- .item-content -->
								</article>
								<!-- #post-## -->
								<article class="box text-center" style="border-radius: 25px">
									<div class="item-content ">
										<p class="small-text">
											<a href="#">December 21, 2017</a>
										</p>
										<h6>
											<a href="#">Strong servers, customer friendly services</a>
										</h6>
										<div class="post-author">
											<img src="/static/images/small_author.png" alt="">
											<p>
												<a href="#">by Admin</a>
											</p>
										</div>
									</div>
									<!-- .item-content -->
								</article>
								<!-- #post-## -->
								<article class="box text-center" style="border-radius: 25px">
									<div class="item-content ">
										<p class="small-text">
											<a href="#">December 15, 2017</a>
										</p>
										<h6>
											<a href="#">Weekly meeting in companies Think Room</a>
										</h6>
										<div class="post-author">
											<img src="/static/images/small_author.png" alt="">
											<p>
												<a href="#">by Admin</a>
											</p>
										</div>
									</div>
									<!-- .item-content -->
								</article>
								<!-- #post-## -->
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="s-pt-130 s-pb-15 s-pb-md-50 s-pt-xl-100 s-pb-lg-30 overflow-visible s-parallax testimonials-sliders main-testimonials ds" id="testimonials">
				<div class="corner ls ms"></div>
				<div class="container">
					<div class="row c-mt-30 c-mt-md-0">
						<div class="divider-20"></div>
						<div class="text-center img-wrap line col-md-12">
							<img src="/static/img/vertical_line2.png" alt="">
						</div>
						<div class="divider-40 d-none d-md-block"></div>
						<div class="col-md-12">
							<div class="owl-carousel" data-autoplay="false" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="true" id="quote">
								<div class="quote-item">
									<div class="quote-image">
										<img src="/static/images/team/testimonials_02.jpg" alt="">
									</div>
									<p class="small-text author-job">
										Eye Insurance
									</p>
									<h5>
										<a href="#">George M. Baty</a>
									</h5>
									<p>
										<em class="big">
											I needed more leads for my services. Pay-per-click, banners of maybe even broschures. They made an analysis of my existing site. It occurred that my webdite is banned with Google, and I never knew about that!
										</em>
									</p>
								</div>
								<div class="quote-item">
									<div class="quote-image">
										<img src="/static/images/team/testimonials_01.jpg" alt="">
									</div>
									<p class="small-text author-job">
										Moving co
									</p>
									<h5>
										<a href="#">Jeffrey P. McAllister</a>
									</h5>
									<p>
										<em class="big">
											I highly recommend this company for all and any of your design needs. I am very happy with the new redesigned and restructured website they built for my moving company!
										</em>
									</p>
								</div>
								<div class="quote-item">
									<div class="quote-image">
										<img src="/static/images/team/testimonials_03.jpg" alt="">
									</div>
									<p class="small-text author-job">
										Paradox Inc
									</p>
									<h5>
										<a href="#">Josephine B. Anderson</a>
									</h5>
									<p>
										<em class="big">
											This guys are awesome! It is hard to find a web design company who can actually listen and understand what you need. I’m 100% satisfied with this guys. My website is exactly what I needed and even more...
										</em>
									</p>

								</div>
							</div>
							<!-- .testimonials-slider -->
						</div>
						<div class="divider-55 d-none d-md-block"></div>
						<div class="text-center img-wrap col-md-12">
							<img src="/static/img/vertical_line2.png" alt="">
						</div>
						<div class="divider-10 d-none d-md-block"></div>
					</div>
				</div>
				<div class="testimonials-btn text-center">
					<a href="#quote" class="btn-maincolor">
						<i class="fa fa-angle-up"></i>
					</a>
				</div>
				<div class="corner corner-light"></div>
			</section>

			<section class="s-pt-130 s-pt-md-50 ls text-section">
				<div class="divider-30"></div>
				<div class="container">
					<div class="row">
						<div class="text-center col-md-12 justify-content-center text-block">
							<img src="/static/img/vertical_line.png" alt="">
							<div class="divider-35"></div>
							<div class="content">
								<h1>
									Lets Get Started
									<br> Your Project
								</h1>
								<p>
									We’ll help to achieve your goals and to grow business
								</p>
								<div class="divider-30"></div>
							</div>
							<img src="/static/img/vertical_line.png" alt="">
							<div>
								<div class="divider-40"></div>
								<a href="#" class="btn btn-outline-maincolor">Let’s Talk!</a>
								<div class="divider-30"></div>
							</div>
							<div class="img-wrap overflow-visible">
								<img src="/static/img/vertical_line.png" alt="">
								<div class="divider-5 d-none d-xl-block"></div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<section class="s-pt-50 s-pb-100 s-pt-md-30 s-pb-xl-75 ls ms teaser-contact-icon main-icon s-parallax" id="contact">
				<div class="corner corner-inverse"></div>
				<div class="text-center img-wrap col-md-12">
					<img src="/static/img/dark_line_short.png" alt="">
				</div>
				<div class="container">
					<div class="divider-10 d-none d-xl-block"></div>
					<div class="row c-mb-25 c-mt-25 c-mb-lg-0 c-mt-lg-0">
						<div class="col-lg-4 text-center">
							<div class="border-icon">
								<div class="teaser-icon">
									<img src="/static/images/icon1.png" alt="">
								</div>
							</div>
							<h6>
								Call Us
							</h6>
							<p>
								<strong>New Accounts:</strong> 1-800-123-4567
								<br>
								<strong>Support:</strong> 1-800-123-4569
							</p>
						</div>
						<div class="col-lg-4 text-center">
							<div class="border-icon">
								<div class="teaser-icon">
									<img src="/static/images/icon3.png" alt="">
								</div>
							</div>
							<h6>
								Write Us
							</h6>
							<p>
								example@example.com
								<br> example@example.com
							</p>
						</div>
						<div class="col-lg-4 text-center">
							<div class="border-icon">
								<div class="teaser-icon">
									<img src="/static/images/icon2.png" alt="">
								</div>
							</div>
							<h6>
								Visit Us
							</h6>
							<p>
								2231 Sycamore Lake Road
								<br> Green Bay, WI 54304
							</p>
						</div>
					</div>
					<div class="divider-30 d-none d-lg-block"></div>
					<div class="text-center img-wrap col-md-12 layout-2">
						<img src="/static/img/dark_line_short.png" alt="">
					</div>
				</div>
				<div class="divider-10"></div>
			</section>


			<footer class="page_footer corner-footer ds s-pt-30 s-pb-0 s-pb-lg-10 s-pb-xl-50 c-gutter-60 s-parallax">

				<div class="container">
					<div class="container">
						<div class="row">
							<div class="divider-20 d-none d-xl-block"></div>
							<div class="col-md-12 mt-4 text-center animate" data-animation="fadeInUp">
								<img class="margin-negative" src="/static/images//footer_logo.png" alt="">
								<div class="widget widget_social_buttons">
									<a href="http://www.facebook.com/#" class="fa fa-facebook color-icon" title="facebook"></a>
									<a href="http://www.twitter.com/#" class="fa fa-twitter color-icon" title="twitter"></a>
									<a href="http://www.plus.google.com/#" class="fa fa-google color-icon" title="google"></a>
									<a href="http://www.youtube.com/#" class="fa fa-youtube-play color-icon" title="youtube-play"></a>
									<a href="http://www.linkedin.com/#" class="fa fa-linkedin color-icon" title="linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>


			<section class="page_copyright light-copy cs s-py-20 s-py-lg-5 s-parallax copyright">
				<div class="container">
					<div class="row align-items-center">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="col-md-12 text-center">
							<p>&copy; Copyright
								<span class="copyright_year">2018</span> All Rights Reserved</p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
					</div>
				</div>
			</section>



{% endblock %}