{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


			<section class="page_slider main_slider">
				<div class="flexslider" data-nav="false" data-dots="false">
					<ul class="slides">
						<li class="ds text-center slide1">
							<span class="flexslider-overlay"></span>
							<span class="lg">
								<img src="/static/images/banner.webp" alt=""/>
							</span>
							<div class="container">
								<div class="row">
									<div class="col-lg-12 intro_slider">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">
												<div class="intro_layer" data-animation="fadeIn">
													<p class="text-warning bolder" style="font-size: 20px">Biblioteca brandurilor romanesti</p>
												</div>

												<div class="intro_layer py-5" data-animation="slideRight">
														<img src="/static/images/brandotecalogowhite.png" alt="" style="height: 50px">
												</div>
												<div class="intro_layer page-bottom" data-animation="expandUp">
													<a class="btn btn-maincolor" href="">Get Started</a>
												</div>
											</div>
											<!-- eof .intro_layers -->
										</div>
										<!-- eof .intro_layers_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
						</li>
					</ul>
				</div>

				<div class="flexslider-bottom d-none d-xl-block">
					<a href="#about" class="mouse-button animated floating"></a>
				</div>
			</section>
			<section id="about">
				<div class="divider-5 d-none d-xl-block"></div>
					<div class="row p-2">
						<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<div class="main-content text-center">
								<div class="img-wrap text-center">
								</div>
								<h5>
									Dedicați brandurilor românești
								</h5>
								<p>
                                      IMM-urile sunt cele care asigură creșterea economică organică. În lipsa vizibilității, multe startup-uri și branduri românești sunt condamnate la dispariție.
                                    <strong><br><br>Brandoteca – Biblioteca Brandurilor Românești<br></strong>te ajută să spui povestea brandului tău. Alege să fii un Brand, nu doar un SRL.<br><strong class="text-danger">Listează-ți brandul GRATUIT</strong> și bucură-te de publicitate națională & internațională!
								</p>
								</div>
							</div>
						</div>
			</section>
			<section class="s-pt-130 s-pt-md-50 ls mb-5 p-2">
				<div class="container">
					<div class="row">
						<div style="background: rgba(217,156,1,0.08); border-radius: 25px" class="pt-5 text-center col-md-12 justify-content-center text-block">
							<div class="content">
								<h3>
									Lets Get Started
									<br> Your Project
								</h3>
								<p class="bolder">
									We’ll help to achieve your goals and to grow business
								</p>
								<div class="divider-30"></div>
							</div>
							<div>
								<div class="divider-40"></div>
								<a href="#" class="btn">Let’s Talk!</a>
								<div class="divider-30"></div>
							</div>
							<div class="img-wrap overflow-visible">
								<div class="divider-5 d-none d-xl-block"></div>
							</div>
						</div>

					</div>
				</div>
			</section>


    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center" data-animation="fadeInUp">
							<div>

								<h3 class="widget-title">Newsletter</h3>

								<p>
									Enter your email address here always to be updated. We promise not to spam!
								</p>
                                  <form method="POST" id="newsForm" class="mb-5">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                      <p id="news_message" class="text-secondary"></p>
                                      <button type="submit" value="Submit" class="new-button shadow m-2"> Send </button>
                                  </form>
							</div>
						</div>
    </div>
    </div>


<script type="text/javascript">
$(document).ready(function(){
            $('#news_message').hide();
            $("#newsForm").submit(function(e){
            e.preventDefault();
        const serializedData = $(this).serialize();
       $.ajax({
      		type : 'POST',
      		url :  "{% url 'index' %}",
      		data : serializedData,
      		success : function(response){
      			  $("#newsForm")[0].reset();
                  $("#news_message").text("Esti abonat!").show(1200);
                  $("#news_message").hide(1000);
            },
      		error : function(response){
      			console.log(response)
      		}
      	});
   });
});
</script>

{% endblock %}