{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


	<section class="page_slider main_slider">
				<div class="flexslider" data-nav="false" data-dots="false">
					<ul class="slides">
						<li class="ds text-center slide1">
							<span class="flexslider-overlay"></span>
							<span class="lg">
								<img src="/static/images/banner.webp" alt=""/>
							</span>
							<div class="container">
								<div class="row">
									<div class="col-lg-12 intro_slider">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">
												<div class="intro_layer" data-animation="fadeIn">
													<p class="text-warning bolder" style="font-size: 20px">Biblioteca brandurilor romanesti</p>
												</div>

												<div class="intro_layer py-5" data-animation="slideRight">
														<img src="/static/images/brandotecalogowhite.png" alt="" style="height: 50px">
												</div>
												<div class="intro_layer page-bottom" data-animation="expandUp">
													<a class="btn btn-maincolor" href="">Get Started</a>
												</div>
											</div>
											<!-- eof .intro_layers -->
										</div>
										<!-- eof .intro_layers_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
						</li>
					</ul>
				</div>

				<div class="flexslider-bottom d-none d-xl-block">
					<a href="#about" class="mouse-button animated floating"></a>
				</div>
			</section>
    <div class="container-lg py-5 rounded">
    <div class="row justify-content-center g-3 p-3 py-5" style="padding: 50px 0 50px 0">
        <div class="col-lg-5 bg-secondary m-2 shadow" style="border-radius: 35px">
        <h1 class="bolder p-3 text-center" style="line-height: 1; font-weight: 700; font-size: 55px; letter-spacing: -4px"><small class="text-lowercase" style="font-weight: 100; position: relative; top: 10px">dedicati</small><br><strong style="color: red">brandurilor</strong><br><small style="position: relative; left: 25px; bottom: 10px">romanesti</small></h1>
        </div>
        <div class="col-lg-5 p-3 m-2" style="border-left: 3px solid orangered; border-radius: 35px 0 0 35px">
            <div style="line-height: 1; padding: 15px; font-size: 25px">IMM-urile sunt cele<br> care asigură<br> creșterea economică organică<br>În lipsa vizibilității,<br> multe startup-uri<br> și branduri românești<br> sunt condamnate la dispariție</div>
        </div>
    </div>
    </div>
    <div class="container-lg bg-darkgrey" style="border-radius: 50px 50px 0 0">
    <div class="row position-absolute p-3 m-1 mt-3" style="border-radius: 50px 0 50px 0; background: red">
            <h6>Listare gratuita</h6>
    </div>
    <div class="row justify-content-center py-5 rounded mt-5">

        <div class="col-lg-10 p-3">
            <h2 class="text-start text-warning" style="letter-spacing: -1px; font-weight: 700; padding: 15px; line-height: 1"><strong style="font-weight: 700"><br>Biblioteca Brandurilor Românești<br></strong><div style="font-weight: 100; color: #ffe4e8">te ajută să spui<br> povestea brandului tău.<br>Alege să fii un Brand,<br>nu doar un SRL</div></h2>
            <h6 style="border-left: 3px solid orangered; padding: 15px"><strong><a href="{% url 'brand_create' %}" class="text-primary">Listează-ți brandul GRATUIT</a><br></strong> și bucură-te de publicitate națională & internațională!</h6>
        </div>
    </div>
    </div>
    <div class="container-lg py-5 p-3" style="border-radius: 0 0 50px 50px; background: #3c3c3d">
    <div class="row py-5 g-3" style="border-radius: 0 50px 0 50px">
        <h1 class="bolder p-3 text-center" style="line-height: 1; font-weight: 700; font-size: 60px"><small class="text-lowercase" style="font-weight: 100; position: relative; top: 10px; color: lightgrey">Ultimele</small><br><strong style="color: red">branduri</strong><br><small style="position: relative; left: 25px; bottom: 10px; color: lightcyan">adaugate</small></h1>

        {% for brand in brands %}
            <div class="col-lg-4">

      <div class="card h-100 p-2 py-3" style="border-radius: 70px 5px 70px 5px">
          {% if brand.is_premium %}<div class="top-left shadow">Premium</div>{% endif %}
            <img style="height: 120px; object-fit: contain; border-radius: 25px 25px 5px 5px" src="{{ brand.logo.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="bolder text-dark">{{ brand.name }}</h5>
        <h6 class="card-text text-dark small-text-card small">{{ brand.motto }}</h6>
      </div>
      <div class="card-footer p-3 bg-transparent text-center" style="border-radius: 10px 10px 25px 25px; line-height: 1">
        <p class="small-text-card text-dark text-secondary">{{ brand.main_category }}</p>
      </div>
    </div>

  </div>
        {% endfor %}
    </div>
    </div>



    <div class="container my-5">
    <div class="row justify-content-center my-5">
        <div class="col-md-7 text-center" data-animation="fadeInUp" style="background: rgba(242,255,253,0.23); border-radius: 50px">
							<div>

								<h3 class="widget-title">Newsletter</h3>

								<p>
									Enter your email address here always to be updated. We promise not to spam!
								</p>
                                  <form method="POST" id="newsForm" class="mb-5">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                      <p id="news_message" class="text-secondary"></p>
                                      <button type="submit" value="Submit" class="new-button shadow m-2"> Send </button>
                                  </form>
							</div>
						</div>
    </div>
    </div>


<script type="text/javascript">
$(document).ready(function(){
            $('#news_message').hide();
            $("#newsForm").submit(function(e){
            e.preventDefault();
            const serializedData = $(this).serialize();
       $.ajax({
      		type : 'POST',
      		url :  "{% url 'index' %}",
      		data : serializedData,
      		success : function(response){
      			  $("#newsForm")[0].reset();
                  $("#news_message").text("Esti abonat!").show(1200);
                  $("#news_message").hide(1000);
            },
      		error : function(response){
      			console.log(response)
      		}
      	});
   });
});
</script>

{% endblock %}