<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% load socialaccount %}
{% load account socialaccount %}

<head>
	<title>Brandoteca</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>




	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/animations.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/main.css" class="color-switcher-link">
	<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>

	<!--[if lt IE 9]>
		<script src="/static/js/vendor/html5shiv.min.js"></script>
		<script src="/static/js/vendor/respond.min.js"></script>
		<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body style="font-family: Montserrat, sans-serif">

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div>
		<div id="box_wrapper">

			<!-- template sections -->

			<!--topline section visible only on small screens|-->

            <header class="page_header_side header_push header_side_right ls">
				<span class="toggle_menu toggle_menu_side ">
					<span></span>
				</span>
				<div class="scrollbar-macosx">
					<div class="side_header_inner">


						<div class="header-side-menu">
							<!-- main side nav start -->
							<nav class="mainmenu_side_wrapper">
								<ul class="nav menu-click">
                                <li class="bolder">
                                    <a href="{% url 'index' %}">Home </a>
                                </li>
									<li>
										<a href="">Branduri</a>
									</li>
                                    <li>
										<a href="">Noutati</a>
									</li>
                                    <li>
										<a href="">Promotii</a>
									</li>
                                    <li>
										<a href="">Concursuri</a>
									</li>
                                    <li>
                                        <a href="">Articole</a>
                                    </li>
                                    <li>
                                        <a href="">Blog</a>
                                    </li>

									<li>
										<a href="">Informatii utile</a>
										<ul class="bg-secondary">
											<li>
												<a href="">Despre Brandoteca</a>
											</li>
											<li>
												<a href="">Pachete</a>
											</li>
											<li>
												<a href="">Blog</a>
											</li>
											<li>
												<a href="">Intrebari frecvente</a>
											</li>

										</ul>
									</li>
                                    <li>
                                        <a href="{% url 'message_create' %}">Contact</a>
                                    </li>

                                                 <div class="row mt-3" style="background: rgba(217,156,1,0.08)">

             {% if request.user.is_authenticated %}


                 <li class="menu-item">
                  <a href="#" class="menu-link">
                      <i class="bi bi-check-circle-fill text-dark"></i> {{ request.user|capfirst }}</a>
                 </li>

                   <li class="menu-item">
                  <a href="{% url 'account_logout' %}" class="menu-link text-dark">
                       <i class="bi bi-x-circle text-dark"></i> Logout</a>
                   </li>

                  {% else %}
                <li class="menu-item">
                  <a href="{% url 'account_login' %}" class="menu-link">
                    <div data-i18n="Basic">Login</div>
                  </a>
                </li>

                <li class="menu-item">
                  <a href="{% url 'account_signup' %}" class="menu-link">
                    <div data-i18n="Basic">Register</div>
                  </a>
                </li>

                 <li class="menu_item">
                   <a class="menu-link" href="{% provider_login_url 'google' %}">Sign in with <img src="https://img.icons8.com/color/16/000000/google-logo.png"></a>
                 </li>

                  {% endif %}

        </div>


								</ul>
							</nav>
							<!-- eof main side nav -->
						</div>

						<div class="text-center">
							<p class="social-icons">
								<a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
								<a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
								<a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
							</p>
						</div>

						<div class="widget widget_icons_list links-maincolor">
							<ul class="list-unstyled">
								<li class="icon-inline">
									<div class="icon-styled color-darkgrey icon-top fs-14">
										<i class="fa fa-map-marker"></i>
									</div>
									<p class="small">Str. Brazda lui Novac, nr. 101, bl. 29 IVB1, parter, Craiova, România</p>
								</li>
								<li class="icon-inline">
									<div class="icon-styled color-darkgrey icon-top fs-14">
										<i class="fa fa-phone"></i>
									</div>
                                    <p class="small"><a href="tel:+40751557601">+40 751 557601</a></p>
								</li>
								<li class="icon-inline">
									<div class="icon-styled color-darkgrey icon-top fs-14">
										<i class="fa fa-envelope"></i>
									</div>
									<p class="small">
										<a href="mailto:contact@brandoteca.ro">contact@brandoteca.com</a>
									</p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</header>

            <section class="page_topline ds s-py-15 c-my-5">
				<div class="container">
					<div class="row align-items-center">

						<div class="col">
							<ul class="top-includes border-divided small-text">
								<li>
                                    <a href="{% url 'index' %}"><img src="/static/images/brandotecalogowhite.png" alt="" style="height: 25px"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>



            {% block content %}
            {% endblock %}


            <footer class="mt-5 page_footer corner-footer ds s-pt-30 s-pb-0 s-pb-lg-10 s-pb-xl-50 c-gutter-60 s-parallax">

				<div class="container">
					<div class="container">
						<div class="row">
							<div class="divider-20 d-none d-xl-block"></div>
							<div class="col-md-12 mt-4 text-center animate" data-animation="fadeInUp">
								<img class="margin-negative" src="/static/images/braandotecafulllogo.png" alt="" style="height: 200px">
								<div class="widget widget_social_buttons">
									<a href="http://www.facebook.com/#" class="fa fa-facebook color-icon" title="facebook"></a>
									<a href="http://www.twitter.com/#" class="fa fa-twitter color-icon" title="twitter"></a>
									<a href="http://www.plus.google.com/#" class="fa fa-google color-icon" title="google"></a>
									<a href="http://www.youtube.com/#" class="fa fa-youtube-play color-icon" title="youtube-play"></a>
									<a href="http://www.linkedin.com/#" class="fa fa-linkedin color-icon" title="linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>

            <footer class="page_footer ds s-pb-20 s-pt-50 s-pb-md-20 s-pt-md-130 s-pb-lg-50 s-pt-lg-100 s-pt-xl-75 c-gutter-60 bordered-footer bottom-none layout-2">
				<div class="container">
					<div class="row">
						<div class="d-none d-xl-block"></div>

						<div class="col-md-6 text-center animate footer-contact" data-animation="fadeInUp">
							<div class="widget widget_icons_list">
								<div class="footer_logo">
									<img src="img/logo1.png" alt="">
								</div>
                                <h6><strong>BRAND</strong>OTECA</h6>
								<ul>
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main fs-14">
											<i class="fa fa-map-marker"></i>
										</div>
										<p>Str. Brazda lui Novac, nr. 101, bl. 29 IVB1, parter, Craiova, România</p>
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main fs-14">
											<i class="fa fa-phone"></i>
										</div>
										<p><a href="tel:+40(751)557601">+40 751 557601</a></p>
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main fs-14">
											<i class="fa fa-envelope"></i>
										</div>
										<p>
											<a href="mailto:contact@brandoteca.ro">contact@brandoteca.com</a>
										</p>
									</li>
								</ul>
								<div class="widget widget_social_buttons">
									<a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
									<a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
									<a href="#" class="fa fa-google-plus color-bg-icon rounded-icon" title="google"></a>
								</div>
							</div>
						</div>


                        <div class="col-md-6 text-center animate mailchimp" data-animation="fadeInUp>
							<div class="widget widget_mailchimp">


                        <ul class="list-unstyled text-light">
                            <li class="bolder">
                                Copyright 2023 all rights reserved
                            </li><br>
                            <li>
                                Termene si conditi
                            </li>
                            <li>
                                Reguli de postare
                            </li>
                            <li>
                                Politica de confidentialitate
                            </li>
                            <li>
                                Politica de cookies
                            </li>
                        </ul>

							</div>
						</div>


						<div class="divider-10 d-none d-xl-block"></div>
					</div>
				</div>



            <div id="copyright"></div>
			<section class="page_copyright ls s-py-30 container-px-60">
				<div class="container-fluid bg-secondary">
					<div class="row align-items-center">
						<div class="col-lg-4 text-center text-lg-left animate" data-animation="scaleAppear">
							<p>&copy; Copyright
								<span class="copyright_year">2023</span> All Rights Reserved</p>
						</div>
						<div class="col-lg-4 text-center animate" data-animation="scaleAppear">
							<img src="/static/images/brandotecalogowhite.png" alt="" style="height: 30px">
						</div>
						<div class="col-lg-4 text-center text-right animate" data-animation="scaleAppear">
							<div class="widget widget_nav_menu">
								<ul class="menu">
									<li>
										<a href="">Services</a>
									</li>
									<li>
										<a href="">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>




		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->


	<script src="/static/js/compressed.js"></script>
	<script src="/static/js/main.js"></script>


</body>

</html>