
<nav class="navbar navbar-dark bg-dark fixed-top" style="font-family: Montserrat, sans-serif">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/images/brandotecalogowhite.png" alt="" style="height: 25px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body text-dark" style="font-weight: 400; background: #f2fffd">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mb-1">
              <a class="menu-item bolder text-dark" href="">Branduri  <span class="badge bg-info rounded-pill">170</span></a>
          </li>
            <li class="nav-item mt-3">
            <a class="menu-item bolder text-dark" href="#">Promotii <span class="badge bg-info rounded-pill">35</span></a>
          </li>
        <li class="nav-item mb-1">
            <a class="menu-item bolder text-dark" href="#">Concursuri <span class="badge bg-info rounded-pill">17</span></a>
          </li>

             <div class="row mt-2">
            <div class="col-4">
        <li class="nav-item">
            <a class="menu-item text-dark" href="#">Noutati</a>
          </li>
            <li class="nav-item">
            <a class="menu-item text-dark" href="#">Articole</a>
          </li>
            </div>
            <div class="col-4">
        <li class="nav-item">
            <a class="menu-item text-dark" href="#">Blog</a>
          </li>
            <li class="nav-item">
            <a class="menu-item text-dark" href="#">Despre</a>
          </li>
            </div>
        </div>

        <br>
             <div class="row">

             {% if request.user.is_authenticated %}


                 <li class="menu-item">
                  <a href="#" class="menu-link text-dark">
                      <i class="bi bi-check-circle-fill text-dark"></i> {{ request.user|capfirst }}</a>
                 </li>

                   <li class="menu-item">
                  <a href="{% url 'account_logout' %}" class="menu-link text-dark">
                       <i class="bi bi-x-circle text-dark"></i> Logout</a>
                   </li>

                  {% else %}
                <li class="menu-item">
                  <a href="{% url 'account_login' %}" class="text-dark menu-link">
                    <div data-i18n="Basic">Login</div>
                  </a>
                </li>

                <li class="menu-item">
                  <a href="{% url 'account_signup' %}" class="menu-link text-dark">
                    <div data-i18n="Basic">Register</div>
                  </a>
                </li>

                 <li class="menu_item">
                   <a class="menu-link bg-primary rounded p-1" href="{% provider_login_url 'google' %}">Sign in with <img src="https://img.icons8.com/color/16/000000/google-logo.png"></a>
                 </li>

                  {% endif %}

        </div>

             <div class="row mt-2 small">
                 <div class="col-lg-6">
                <li class="nav-item">
            <a class="menu-item text-dark" href="{% url 'message_create' %}">Contact</a>
          </li>
            </div>
                 <div class="col-lg-6">
                     <li class="nav-item">
                         <a class="menu-item text-dark" href="">Despre</a>
                     </li>
                 </div>
             </div>

             <div class="row mt-2 small">
                 <div class="col-lg-4">
                <li class="nav-item">
            <a class="menu-item text-dark" href="">Pachete</a>
          </li>
            </div>
                 <div class="col-lg-6">
                     <li class="nav-item">
                         <a class="menu-item text-dark" href="">Intrebari frecvente</a>
                     </li>
                 </div>
             </div>




        </ul>
      </div>
    </div>
  </div>
</nav>


			<span class="toggle_menu_side header-slide">
				<span></span>
			</span>








            <section class="page_topline bg-secondary">
				<div class="container-lg position-fixed text-center bg-secondary pt-5 pb-2">
					<div class="row align-items-center">

						<div class="col">
							<ul class="top-includes small-text d-none d-lg-block">
								<li>
                                    <a href="{% url 'index' %}"><img src="/static/images/brandotecalogowhite.png" alt="" style="height: 25px"></a>
								</li>
                                <li>
                                    <a href="" class="small-text padding-masonry">Branduri</a>
                                </li>
                                <li>
                                    <a href="" class="small-text">Noutati</a>
                                </li>
                                <li>
                                    <a href="" class="small-text">Promotii</a>
                                </li>
                                <li>
                                    <a href="" class="small-text">Concursuri</a>
                                </li>
                                 <li>
                                    <a href="" class="small-text">Articole</a>
                                </li>
                                <li>
                                    <a href="" class="small-text">Blog</a>
                                </li>
                                <li>
                                    <a href="" class="small-text">Despre</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</section>
